<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HTML Basic layout</title>
    <style>

        body{
            font-family: 'Courier New', Courier, monospace;
            background-color: slategrey;
        }

        .wrapper{
            border: 1px solid black;
            background-color: white;
            width: 500px;
            margin: 0 auto;
        }
        .heading{
            background-color: springgreen;
        }
    </style>
</head>
<body>
    <div class="wrapper">
        <div class="heading">
            <h2>Yahoo baba</h2>
        </div>
        <div class="menu">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About US</a></li>
                <li><a href="#">More</a></li>
            </ul>
        </div>
        <div class="content">
            <h2>More content</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus culpa nisi fugiat? Magni voluptas cumque numquam consequatur atque? Iure, in numquam cum accusantium commodi assumenda, aperiam blanditiis, ea quas consequatur itaque praesentium ipsum et natus repellendus sed suscipit? Mollitia temporibus ullam libero quaerat animi enim ab sapiente provident praesentium officiis.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus culpa nisi fugiat? Magni voluptas cumque numquam consequatur atque? Iure, in numquam cum accusantium commodi assumenda, aperiam blanditiis, ea quas consequatur itaque praesentium ipsum et natus repellendus sed suscipit? Mollitia temporibus ullam libero quaerat animi enim ab sapiente provident praesentium officiis.</p>
        </div>

        <div class="footer">
            <span>Yahoobaba@ copyright 2021</span>
        </div>
    </div>
</body>
</html>