@import "https://fonts.googleapis.com/css2?family=Inconsolata:wght@200&display=swap";

body{
  display: flex;

  align-items: center;
  background-color: grey;
}

.progress{
  display: flex;
  flex-direction: column;
  background: white;
  border: 2px solid black;
  min-width: 900px;
  min-height: 400px;
}

.progress .head{
      text-align: center;
}

.progress h2{
  font-size: 45px;
  background: linear-gradient(125deg,#073c9e,#c303aa);
  -webkit-background-clip: text;
  color: transparent;
  box-sizing: border-box;
}

.container{
  border: 1px solid black;
  padding: 32px;
}

.Subjects{
  height: 10px;
  border: 1px solid black;
}